<div class="small-12 columns">
  <h2>Search results:</h2>

  <!-- Technically a barcode can have multiple results -->
  {{#each model as |result|}}
    {{checkin-result result=result added="added"}}
  {{/each}}

  <hr />
  <div class="button-group">
    <a class="button secondary" {{action "add-beer"}}>Wrong results, scan again</a>
    {{#link-to 'index' class="button secondary"}}Cancel{{/link-to}}
  </div>
</div>
